.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

dist/
dist-ssr/
coverage/


src-tauri/target/
src-tauri/gen/schemas/

.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local

config.json
frpc.ini
frpc_temp.ini